<mat-toolbar color="primary">
    <span class="heading">Speciality Metals</span>
    <span class="spacer"></span>
  </mat-toolbar>
  
  <div class="home-container">
    
    
    <mat-card class="menu-card">
      <button mat-raised-button class="menu-button" (click)="goToViewIncomings()">
        <mat-icon>calendar_today</mat-icon> Incoming products 
      </button>
    </mat-card>
    
    <mat-card class="menu-card">
      <button mat-raised-button class="menu-button" routerLink="/outgoing" >
        <mat-icon>event_note</mat-icon> Outgoing products 
      </button>
    </mat-card>
    <mat-card class="menu-card">
      <button mat-raised-button class="menu-button" routerLink="/sundry">
        <mat-icon>calendar_today</mat-icon> Sundry
      </button>
    </mat-card>

    <mat-card class="menu-card">
      <button mat-raised-button class="menu-button" routerLink="/incoming">
        <mat-icon>person</mat-icon> Admin Menu
      </button>
    </mat-card>
    
    
  </div>
