<mat-toolbar color="primary">
    <span class="heading">Speciality Metals</span>
    <span class="spacer"></span>
    <a mat-button color="warn" routerLink="/logout">Log out</a>
    <img class="photo" src=".../src/assets/Special_Metals_Corporation_logo.svg.png">
  </mat-toolbar>
  
  <div class="supplier-container">
    <form [formGroup]="supplierForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Supplier Name</mat-label>
        <input matInput formControlName="supplier_Name" />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput type="tel" formControlName="phone_Number" />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Supplier ID</mat-label>
        <input matInput formControlName="supplierID" />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Product ID</mat-label>
        <input matInput formControlName="productID" />
      </mat-form-field>
  
      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit">Add Supplier</button>
        <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
  