.app-title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  a.mat-button {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  a.active {
    border-bottom: 2px solid #fff;
  }
  
  mat-toolbar {
    background-color: #3f51b5;
    color: white;
  }
  .global-top-buttons {
  position: fixed;
  top: 16px;
  right: 16px;
  display: flex;
  gap: 12px;
  z-index: 1000;
}

.global-top-buttons button {
  background-color: white;
  border-radius: 50%;
}
  