<mat-toolbar color="primary">
    <span class="heading">Speciality Metals</span>
    <span class="spacer"></span>
    <a mat-button color="warn" routerLink="/logout">Log out</a>
    <img class="photo" src=".../src/assets/Special_Metals_Corporation_logo.svg.png" alt="Logo">
  </mat-toolbar>
  
  <div class="product-container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  
      <mat-form-field appearance="fill">
        <mat-label>Product Name</mat-label>
        <input matInput formControlName="Product_Name" />
      </mat-form-field>
  
      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit">Add Product</button>
        <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
  