<mat-toolbar color="primary">
    <span class="heading">Speciality Metals</span>
    <span class="spacer"></span>
  </mat-toolbar>
  
  <div class="home-container">
    
    <mat-card class="menu-card">
      <button mat-raised-button class="menu-button" routerLink="/add-customer" >
        <mat-icon>event_note</mat-icon> Add Customer  
      </button>
    </mat-card>
    
    <mat-card class="menu-card">
      <button mat-raised-button class="menu-button" routerLink="/view-customer" >
        <mat-icon>person</mat-icon> View Customers
      </button>
    </mat-card>
    
    
  </div>